<!DOCTYPE html>
<html lang="es">
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# <% if CONFIG.facebook && CONFIG.facebook.namespace %><%= CONFIG.facebook.namespace %>: http://ogp.me/ns/fb/<%= CONFIG.facebook.namespace %>#<% end %>">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% if logged_in? && @provider_authorizations -%>
      <meta name="authenticators" content="<%= @provider_authorizations.map{|pa| pa.provider}.join(',') %>">
    <% end -%>
    <title><%= CONFIG.site_name %> &middot; <%= yield :title %></title>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag 'blueprint_bundle' %>
    <%= render :partial => 'shared/common_stylesheets'%>
    <%= stylesheet_link_tag "blueprint-inat" %>
    <%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js' %>
    <%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js' %>
    <script type="text/javascript">
      I18n = { }
      I18n.defaultLocale = "en"
      I18n.locale = "<%= I18n.locale %>"
      I18n.fallbacks = true
      <% site_place = @site && @site.place
         user_place = current_user && current_user.place -%>
      <% if site_place -%>
        var SITE_PLACE = <%= json_escape site_place.to_json(only: [:id, :name]).html_safe %>
      <% end -%>
      var PREFERRED_PLACE;
      <% if place = (user_place || site_place) -%>
      PREFERRED_PLACE = <%= json_escape (user_place || site_place).
        to_json(only: [:id, :name, :place_type], methods: [:ancestor_place_ids]).html_safe %>
      <% end -%>
    </script>
    <%= javascript_include_tag 'application_bundle' %>
    <%= csrf_meta_tag %>
    <% if CONFIG.twitter && CONFIG.twitter.username -%>
      <meta name="twitter:site" content="<%= CONFIG.twitter.username %>">
    <% end -%>
    <meta property="og:site_name" content="<%= CONFIG.site_name %>"/>
    <% if CONFIG.facebook && CONFIG.facebook['app_id'] -%>
      <meta property="fb:app_id" content="<%= CONFIG.facebook['app_id'] %>" />
    <% end -%>
    <% if !@headless && @site && @site.preferred_ios_app_id -%>
      <meta name="apple-itunes-app" content="app-id=<%= @site.preferred_ios_app_id %>">
    <% end -%>
    <!-- Bootstrap CDN -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <%= yield :extrahead %>
    <%= yield :extracss %>
    <%= yield :extrajs %>
  </head>
<body class="browser">
  <div id="bodywrapper" class="dashboard-container">
    <% unless @headless -%>
      <% cache(User.header_cache_key_for(current_user, site: @site)) do %>
        <%= render :partial => 'shared/header' %>
      <% end %>
    <% end -%>
    
    <% if flash[:notice] || flash[:alert] %>
    <p id="flash" class="notice"><%= (flash[:notice] || flash[:alert]).html_safe %></p> 
    <% end %>
    
    <% if flash[:error] %>
    <p id="flash" class="error"><%= raw flash[:error] %></p>
    <% end %>

    <% if @feature_test -%>
      <div class="container">
        <div class="notice box">
          <b><%= @feature_test %> test</b>. This is only a test, so please don't expect everything to work correctly.
        </div>
      </div>
    <% end -%>
    
    <!-- SIB Wrapper -->
    <div class="dashboard-container">
      <div class="dashboard-content-wrapper clearfix">
        <!-- SIDEBAR -->
        <%= render :partial => 'shared/sidebar', :locals => { :user => current_user } %>
        <!-- / SIDEBAR -->
        <div class="main-content-display">
        <!-- CONTENT -->
          <div class="container-fluid">
            <!-- iNat -->
              <% if flash[:warning] -%>
                <div class="notice box">
                  <% if flash[:warning_title] -%>
                    <h3><%=raw flash[:warning_title] %></h3>
                  <% end -%>
                  <p class="unstacked">
                    <%=raw flash[:warning] %>
                  </p>
                </div>
              <% end -%>
              <%= yield %>
            <!-- iNat -->
          </div>
        <!-- / CONTENT -->
        </div>
      </div>
    </div>
    <!-- -->
    
    <div id="modal_image_box" class="modalbox" style="display:none"></div>
    <div id="comment_preview" class="modalbox" style="display: none"></div>
  </div>
  
  <%= render :partial => 'shared/footer' unless @footless %>
  
  <% if logged_in? -%>
    <script type="text/javascript" charset="utf-8">
      setUpdatesCount(<%= session[:updates_count].to_i %>)
      setTimeout(getUpdatesCount, 1000)
      setMessagesCount(<%= session[:messages_count].to_i %>)
      setTimeout(getMessagesCount, 1000)
    </script>
    <!-- Sidebar -->
    <script>
      $(".bg-collapse").click(function(){
        $(".dashboard-content-wrapper").toggleClass("collapse-sidebar");
        $(".bg-collapse").toggleClass("collapsed-menu");
        $(".active").toggleClass("active-menu");
      });

      $('.main-sidebar li').hover(
        function () {
          if (!$(this).hasClass("active-menu")) {
            $('ul', this).fadeIn();
          }
        },
        function () {
          if (!$(this).hasClass("active-menu")) {
            $('ul', this).fadeOut();
          }
        }
      );

      function docwidth() {
        var winsize = $( window ).width();
        var setwidth = 700;

        if(winsize < setwidth) {
          $(".dashboard-content-wrapper").addClass("collapse-sidebar");
          $(".bg-collapse").css("display", "none");
          $(".active").removeClass("active-menu");
        } else if (winsize > setwidth) {
          $(".dashboard-content-wrapper").removeClass("collapse-sidebar");
          $(".bg-collapse").css("display", "block");
          $(".active").addClass("active-menu");
        }
      }

      docwidth();

      $(window).resize(docwidth);
    </script>
    <!-- / Sidebar -->
  <% end -%>
  <script type="text/javascript">
    if (typeof(ga) != 'undefined') {
      ga('set', 'dimension1', <%=raw logged_in? ? "'true'" : "'false'" %>);
    }
  </script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</body>
</html>
